body{
    font-family: Garamond;
}
@font-face{
    font-family: Garamond;
    src: url(../fonts/Garamond\ Regular.ttf);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}