body{
    font-family: Garamond;
    font-size: 4ch;
    height: 250vh;
}
*{
    -ms-overflow-style: none;
    scrollbar-width: none; 
    transition: 0.4s;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
@font-face{
    font-family: Garamond;
    src: url(../fonts/Garamond\ Regular.ttf);
}
.bb{
    border-bottom: 1px solid rgba(128, 128, 128, 0.336);
}
.mediacontent{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ico1{
    background-image: url(../ico/twitter-128.png);
}
.ico2{
    background-image: url(../ico/facebook-128.png);
}
.ico3{
    background-image: url(../ico/instagram-2-128.png);
}
.ico4{
    background-image: url(../ico/youtube-128.png);
}
.ico5{
    background-image: url(../ico/gmail-128.png);
}
.feature-ico-1{
    background-image: url(../ico/airplane-48.png);
}
.feature-ico-2{
    background-image: url(../ico/map_marker-48.png);
}
.feature-ico-3{
    background-image: url(../ico/movie-48.png);
}
.feature-ico-4{
    background-image: url(../ico/alarm_clock-48.png);
}
.feature-ico-5{
    background-image: url(../ico/face-48.png);
}
.feature-ico-6{
    background-image: url(../ico/genius-48.png);
}
.card-img-1{
    background-image: url(../img/camp-fire.jpg);
}
.card-img-2{
    background-image: url(../img/camp-fire-2.jpg);
}
.card-img-3{
    background-image: url(../img/lamp.png);
}
.carousel-img-1{
    background-image: url(../img/tent.jpg);
}
.carousel-img-2{
    background-image: url(../img/pot.webp);
}
.carousel-img-3{
    background-image: url(../img/tentxcampfire.jpg);
}
.carousel-img-4{
    background-image: url(../img/string.webp);
}
.carousel-ico-1{
    background-image: url(../ico/arrow-left.png);
}
.carousel-ico-2{
    background-image: url(../ico/arrow-right.png);
}
#main-header{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: white;
    z-index: 1;
}
#header-nav{
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
}
#menuToggle{
    display: none;
}
.n-tittle{
    width: 600px;
    height: 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.n-btn{
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 1.5ch;
}
.n-btn:hover{
    color: black;
    transform: scale(1.1);
    border-bottom: 1px solid gray;
}
.n-smedia{
    display: none;
}
.m-btn{
    display: block;
    width: 3vh;
    height: 3vh;
    background-color: white;
    border-radius: 45%;
}
.m-btn:hover{
    box-shadow:inset 0px 0px 15px 0px rgba(255, 255, 255, 0.75), 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
    filter: invert(100%);
    background-size: 70%;
    border-radius: 50%;
    transform: scale(1.2);
}
#information{
    position: relative;
    top: 8vh;
    height: 190vh;
}
.card{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 2vh;
}
.card-1{
    height: 40%;
}
.card-text-1{
    box-sizing: border-box;
    text-align: start;
    width: 50%;
    padding: 5%;
}
.card-img-1{
    width: 50%;
    height: 100%;
}
.c-btn{
    border: 1px solid grey;
    border-radius: 5px;
    text-decoration: none;
    color: grey;
    padding: 1% 3% 1% 3%;
    font-size: 3vh;
    font-family: monospace;
    background-color: rgb(241, 241, 241);
}
.c-btn:hover{
    color: white;
    background-color: grey;
}
.card-2{
    height: 30%;
}
.card-text-2{
    box-sizing: border-box;
    text-align: start;
    width: 50%;
    padding: 5%;
}
.card-img-2{
    width: 50%;
    height: 100%;
}
.card-3{
    height: 30%;
}
.card-text-3{
    box-sizing: border-box;
    text-align: start;
    width: 50%;
    padding: 5%;
}
.card-img-3{
    width: 50%;
    height: 100%;
}
#galery{
    position: relative;
    top: 2%;
    height: 60vh;
}
.section-header{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#carousel-galery{
    display: flex;
    height: 85vh;
}
.arrows{
    position: absolute;
    top: 25%;
    left: 0%;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}
.arrow{
    width: 50px;
    height: 50px;
}
.carousel{
    display: flex;
    background-color: grey;
    height: 45vh;
}
.carousel-img-1{
    width: 50%;
}
.carousel-img-2{
    width: 50%;
}
.carousel-img-3{
    display: none;
}
.carousel-img-4{
    display: none;
}
.carousel-img{
    height: 100%;
}
.carousel-txt{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    opacity: 0;
}
.carousel-btn{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1% 3% 1% 3%;
    font-size: 2.5vh;
    font-family: monospace;
}
.carousel-btn:hover{
    background-color: white;
    color: black;
}
.carousel-img:hover .carousel-txt{
    opacity: 1;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.226);
}
.carousel:hover > .arrows{ 
    opacity: 0.8;
}
#features{
    position: relative;
    top: 3%;
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.features-block{
    display: flex;
    justify-content: center;

}
.feature-ico{
    min-width: 100px;
    min-height: 50px;
    width: 24%;
    height: 24%;
}
.feature{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15%;
    text-align: center;
}
.features-grid{
    height: 145vh;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 33%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.feature-1{
    grid-area: 1 / 1 / 2 / 2;
    border-bottom: 2px solid grey;
}
.feature-2{
    grid-area: 1 / 2 / 2 / 3;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
}
.feature-3{
    grid-area: 2 / 1 / 3 / 2;
    border-bottom: 2px solid grey;
}
.feature-4{
    grid-area: 2 / 2 / 3 / 3;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
}
.feature-5{
    grid-area: 3 / 1 / 4 / 2;
}
.feature-6{
    grid-area: 3 / 2 / 4 / 3;
    border-left: 2px solid grey;
}
#write{
    position: relative;
    top: 3%;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.write-block{
    height: 135vh;
    width: 80%;
}
.write-grid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 5% 10% 10% 10% 5% 35% 5%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 2.5vh;
}
.write-grid > div{
    height: 100%;
    display: flex;
    align-items: center;
}
.write-grid > label{
    height: 100%;
    display: flex;
    align-items: center;
}
.write-input{
    font-size: 1em;
    width: 90%;
    height: 80%;
}
.write-input-l{
    height: 80%;
}
.write-area-1{
    grid-area: 1 / 1 / 2 / 2; 
}
.write-area-2{
    grid-area: 1 / 2 / 2 / 3; 
}
.write-area-3{
    grid-area: 1 / 3 / 2 / 4; 
}
.write-area-4{
    grid-area: 2 / 1 / 3 / 2; 
}
.write-area-5{
    grid-area: 2 / 2 / 3 / 3; 
}
.write-area-6{
    grid-area: 2 / 3 / 3 / 4; 
}
.write-area-7{
    grid-area: 3 / 1 / 4 / 4; 
}
.write-area-8{
    grid-area: 4 / 1 / 5 / 2; 
}
.write-area-9{
    grid-area: 5 / 1 / 6 / 4; 
    background-color: white;
    background-color: white;
    border: 1px solid grey;
    border-radius: 2px;
    font-size: 2vh;
    padding-left: 1%;
}
.write-area-10{
    grid-area: 6 / 1 / 7 / 2; 
}
.write-area-11{
    grid-area: 7 / 1 / 8 / 4; 
}
.write-area-12{
    grid-area: 8 / 1 / 9 / 4; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.write-area-7{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.remember-me{
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea{
    font-size: 1em;
}
footer{
    position: relative;
    top: 4%;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#footer-nav{
    width: 45%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-m-btn{
    display: block;
    width: 50px;
    height: 50px;
    border: solid black 2px;
    border-radius: 50%;
    background-size: 80%;
}